.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    margin: 10% auto 0 auto;
    width: 2em;
    height: 2em;
}

.text{
    display: block;
    margin: 2% auto;
    text-align: center;
    color: gray;
    font-weight: 400;
}